.formContainer {
    margin: 20px;
  }
  
  .formGridItem {
    margin-bottom: 20px;
  }
  
  .formLabel {
    margin-bottom: 5px;
  }
  
  .formControl {
    width: 100%;
  }
  
  .formButton {
    margin-top: 20px;
  }
  
  .countrySelect {
    width: 100%;
  }
  